<% provide(:title, "About Leah") %>
<%= content_for :tag_logo do %>
  <%= image_tag "FFlogo2.png", id: "tag-logo" %>
<% end %>

<div class="about-container">
	<div class="small-12 medium-4 columns box-1">
		<%= image_tag "aboutme.jpg", id: "bio-img" %>
	</div>
	<div class="small-12 medium-3 columns">
	  <div class="small-12 box-2">
	  	<h2>A little about myself</h2>			
	  </div>
	  <div class="small-12 box-3">
	  	<p>Favorite quote goes here</p>
	  </div>
	</div>
	<div class="small-12 medium-3 columns">
		 <div class="small-12 box-4">
	  	<h2>A little about myself</h2>			
	  </div>
	  <div class="small-12 box-5">
	  	<p>Favorite quote goes here</p>
	  </div>
	</div>
	<div class="small-12 medium-2 columns box-6">
		<ul>
			<li><%= link_to image_tag("facebook.png"), "https://www.facebook.com/LOFirefly", target: "_blank" %></li>
			<li><%= link_to image_tag("googleplus.png"), "https://plus.google.com/u/0/101742232499843150869/posts", target: "_blank" %></li>
			<li><%= link_to image_tag("instagram.png"), "#" %></li>
			<li><%= link_to image_tag("pinterest.png"), "http://www.pinterest.com/leahophoto/", target: "_blank" %></li>
			<li><%= link_to image_tag("twitter.png"), "https://twitter.com/lofirefly", target: "_blank" %></li>
		</ul>
	</div>
</div>