
<div class="row">
  <% if !(photographer_signed_in? || user_signed_in?) %>
  	<%#= link_to "Sign Up", new_user_registration_path %>
  <% end %>

  <div class="small-12 columns cycle-slideshow slide-show" 
    data-cycle-fx="fadeout"
    data-cycle-speed="1200"
    data-cycle-timeout="3000"
    data-cycle-next="#next">
    <%= image_tag "home1.jpg" %>
  	<%= image_tag "home3.jpg" %>
  	<%= image_tag "home2.jpg" %>
    <%= image_tag "home4.jpg" %>
    <%= image_tag "home5.jpg" %>

  </div>

  <div class="small-12 columns">
    <div class="small-12 medium-9 columns quote">
      <p>
        "We had our pictures done with [Leah] not too long ago and we had a blast. She was so nice and fun, my daughter LOVED her. I loved our pictures so much I had a really hard time picking my favorites (which is a great problem to have lol). She picked the most beautiful location and I highly recommend her to anyone looking to get pics done."
      </p>
      <p class="name">
        ~ Amy
      </p>
    </div>
    <div class="small-12 medium-9 columns quote">
      <p>
        "I can not express how happy I am with the pictures! You are talented and have a great eye! Thank you so much for working with us and being patient!
      </p>
      <p class="name">
        ~ Jennifer
      </p>
    </div>
  </div>
</div>

<%= javascript_include_tag "jquery-cycle2-2.1.4" %>