<div class="row">
    <div class="small-10 small-offset-1 medium-8 medium-offset-2 large-6 large-offset-3 columns">
    
    <%= form_for [@post, @comment] do |f| %>
      <% if @errors %>
        <p><%= @errors %></p>
      <% end %>

      <div><%= f.label :name %></br>
      <%= f.text_field :name, autofocuse: true %></div>

      <div><%= f.label :body, "Comment" %></br>
      <%= f.text_area :body, autofocuse: true, rows: 10 %></div>

      <div class="nickname-field"><%= f.label :nickname %><br>
      <%= f.text_field :nickname, autofocuse: true %></div>

      <%= f.submit "Add Comment", class: "button tiny" %>

    <% end %>
  </div>
</div>