<div class="row">
  <div class="small-12 medium-6 medium-offset-3">
    <%= form_for @contact do |f| %>
      <% if @errors %>
        <ul>
          <% @errors.each do |error| %>
            <li><%= "#{error[0]}:" %>
              <ul>
                <% error[1].each do |e| %>
                  <li><%= e %></li>
                <% end %>
              </ul>
            </li>
          <% end %>  
        </ul>
      <% end %>

      <div style="display: none;">
        <%= f.label :nickname %>
        <%= f.text_field :nickname %>
      </div>

      <%= f.label :name %>
      <%= f.text_field :name, :autofocus => true, :required => true %>

      <%= f.label :email %>
      <%= f.text_field :email, :required => true %>
 
      <%= f.label :number, "Phone" %>
      <%= f.text_field :number, :required => true %>

      <%= f.label :preferred_date %>
      <%= f.date_field :preferred_date, :required => true %>

      <%= f.label :backup_date %>
      <%= f.date_field :backup_date, :required => true %>

      <%= f.label :session_type %>
      <%= f.select :session_type, ["Single Subject", "Family"], include_blank: true, :required => true %>

      <%= f.label :referral, "How did you hear about Firefly?" %>
      <%= f.select :referral, ["Facebook", "Word of mouth", "Google Search", "Advertisment", "Other"], include_blank: true, :required => true %>

      <%= f.label :message %>
      <%= f.text_area :message, rows: "8", :required => true %>

      <%= f.submit "Send", class: "button" %>
      
    <% end %>
  </div>
</div>