<div class="row">
  <div class="small-12 medium-6 medium-offset-3">
    <%= form_for @contact do |f| %>
      <% if @errors %>
        <%= @errors %>
      <% end %>

      <div style="display: none;">
        <%= f.label :nickname %>
        <%= f.text_field :nickname %>
      </div>

      <%= f.label :name %>
      <%= f.text_field :name, :autofocus => true %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :message %>
      <%= f.text_area :message, rows: "8" %>

      <%= f.submit "Send" %>
      
    <% end %>
  </div>
</div>