<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Contact from: <%= @contact.name %></h1>
    <p>Email: <%= @contact.email %></p>

    <p>Phone: <%= @contact.number %></p>

    <p>Preferred Date: <%= @contact.preferred_date %></p>

    <p>Back Up Date: <%= @contact.backup_date %></p>

    <p>Session Type: <%= @contact.session_type %></p>

    <p>How did you hear about Firefly?: <%= @contact.referral %></p>

    <p><%= @contact.message %></p>
  </body>
</html>