<h1 class="page-title">Edit Profile Image</h1>

<%= form_for :profile_image, html: {multipart: true} do |f| %>
  <% if @errors %>
    <p><%= @errors %></p>
  <% end %>
  
  <div><%= f.label :profile_image %><br>
  <%= f.file_field :profile_image %></div>

  <div><%= f.submit "Upload Picture" %></div>
<% end %>