<div class="row">
  <div class="small-10 small-offset-1 columns">
    <%= form_for @post do |f| %>
      <% if @errors %>
        <p><%= @errors %></p>
      <% end %>

      <div><%= f.label :title %></br>
      <%= f.text_field :title, autofocus: true %></div>

      <div><%= f.label :description %></br>
      <%= f.text_area :description, autofocus: true, rows: 15 %></div>

      <div><%= f.label :body %></br>
      <%= f.text_area :body, autofocus: true, rows: 25 %></div>
      
      <div><%= f.label :cover_image %></br>
      <%= f.file_field :cover_image %></div>

      <div>
        <% if @tags %>
          <%= f.label :tags %></br>
          <% @tags.each do |tag| %>
            <%= tag.name %>: <%= f.check_box :tags, {name: "tags[#{tag.name}]"} %>
          <% end %>
        <% end %>
      </div>

      <div><%= f.submit "Creat Post" %></div>
    <% end %>
  </div>
</div>