<div class="small-12 medium-3 columns posts-sidebar">
  
  <h3>Search</h3>
  <div class="search-posts">
    <%= form_for :search, url: "/posts", method: :get do |f| %>
      <%= f.search_field :search, autofocuse: true %>
      <%= f.submit "Search" %>
    <% end %>
  </div>

  <h3>Popular Posts</h3>
  <div class="popular-posts">
  	
    <% @popular_posts.each do |post| %>
      <p><%= link_to post.title, post_path(post) %></p>
    <% end %>

  </div>

  <h3>Recent Posts</h3>
  <div class="recent-posts">

    <% @recent_posts.each do |post| %>
      <p><%= link_to post.title, post_path(post) %></p>
    <% end %>

  </div>

  <h3>Tags</h3>
  <div class="tag-list">
    <ul>
      <% @tags.each do |tag| %>
        <li><%= link_to tag.name, posts_path(tag: tag.name) %></li>
      <% end %>
    </ul>
    
  </div> 
</div>