<h1 class="page-title">Posts</h1>

<% @posts.each do |post| %>
  <h2><%= link_to post.title, post_path(post) %></h2>
  <div class="post-description">
    <%= markdown post.description %>
  </div>

  <% if !post.tags.empty? %>
    <p>Tags:
      <% post.tags.each do |tag| %>
        <%= tag.name %>
      <% end %>
    </p>
  <% end %>

  <% if current_photographer %>
    <ul>
	    <li><%= link_to "Edit Post", edit_post_path(post) %></li>
	    <li><%= link_to "Delete Post", post_path(post), method: :delete, confirm: "Are you sure?" %></li>
	  </ul>
  <% end %> 
<% end %>