<% provide(:title, "Blog") %>

<div class="row">
  <div class="small-12 medium-9 posts columns">
    <% @posts.each do |post| %>

      <h2 class="post-title"><%= link_to "#{post.title} <small>read full post</small>".html_safe, post_path(post) %></h2>

      <%= link_to image_tag(post.cover_image.url(:original)), post_path(post) %>

      <div class="post-description">
        <%= markdown post.description %>
      </div>

      <% if !post.tags.empty? %>
        <p>Tags:
          <% post.tags.each do |tag| %>
            <%= tag.name %>
          <% end %>
        </p>
      <% end %>
      
      <div class="posts-admin-view">
        <% if current_photographer %>

          <p>Total Visits: <%= post.visit.total_visits rescue 0 %></p>
          <p>Unique Visits: <%= post.visit.unique_visits rescue 0 %></p>

          <ul>
      	    <li><%= link_to "Edit Post", edit_post_path(post) %></li>
      	    <li><%= link_to "Delete Post", post_path(post), method: :delete, data: {confirm: "Are you sure you want to delete this post?"} %></li>
      	  </ul>

        <% end %> 
      </div>

    <% end %>
  </div>

  <%= render "posts/sidebar" %>

</div>

<div class="pagination">
  <%= will_paginate @posts, inner_window: 1, previous_label: fa_icon("arrow-left"), next_label: fa_icon("arrow-right") %>
</div>