<%= form_for [@user, @gallery] do |f| %>
  <% if @errors %>
    <p><%= @errors %></p>
  <% end %>

  <div><%= f.label :name %><br>
  <%= f.text_field :name, autofocuse: true %></div>

  <div><%= f.label :cover_image %><br>
  <%= f.file_field :cover_image %></div>

  <%= f.submit %>
<% end %>