<%= link_to "Back", user_galleries_path(@user) %>

<h1 class="page-title"><%= @gallery.name %></h1>
	
<div id="links">
	<ul class="small-block-grid-3 medium-block-grid-5 large-block-grid-7">
		<% @images.each do |image| %>
	    <li><%= link_to image_tag(image.image_path.url(:thumb), title: "test", alt: "test"), image.image_path.url(:original) %></li>
		<% end %>
	</ul>
</div>

<!-- The Gallery as lightbox dialog, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
	<div class="slides"></div>
	<h3 class="title"></h3>
	<a class="prev">‹</a>
	<a class="next">›</a>
	<a class="close">×</a>
	<a class="play-pause"></a>
	<ol class="indicator"></ol>
</div>

<script>
document.getElementById('links').onclick = function (event) {
    event = event || window.event;
    var target = event.target || event.srcElement,
        link = target.src ? target.parentNode : target,
        options = {index: link, event: event},
        links = this.getElementsByTagName('a');
    blueimp.Gallery(links, options);
};
</script>

<%= javascript_include_tag "blueimp-gallery.min.js" %>

<% if photographer_signed_in? %>
  <div class="row">
  	<div class="small-10 small-offset-1 medium-8 medium-offset-2 columns">
		  <h3>Add Photos</h3>

		  <%= form_for [@gallery, @image], html: { multipart: true } do |f| %>
		    <% if @errors %>
	        <p><%= @errors %></p>
	      <% end %>
        <div><%= f.label :image_path, "Image" %><br>
        	<!-- #image[image_path] -->
        <%= f.file_field :image_path, multiple: true, name: "image[image_path]" %></div>
        <div><%= f.submit "Upload Image" %></div>
		  <% end %>

		  <% # jquery upload template # %>
			<script id="template-upload" type="text/x-tmpl"><div class="upload">{%=o.name%}<div class="progress"><div class="bar" style="width: 0%"></div></div></div></script>

		</div>
	</div>
<% end %>  