<% content_for :header_links do %>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/sunny/jquery-ui.css" id="theme">
	<link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
<% end %>

<%= link_to "Back", user_galleries_path(@user) %>

<h1 class="page-title"><%= @gallery.name %></h1>
	<!-- The dialog widget -->
	<div id="blueimp-gallery-dialog" data-show="fade" data-hide="fade">
	    <!-- The gallery widget  -->
	    <div class="blueimp-gallery blueimp-gallery-carousel blueimp-gallery-controls">
	        <div class="slides"></div>
	        <a class="prev">‹</a>
	        <a class="next">›</a>
	        <a class="play-pause"></a>
	    </div>
	</div>

<div class="row">
	<% if @images %>
		<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-5">
			<% @images.each do |image| %>
			  <li>
			  	<a href="<%= image.image_path.url %>" data-dialog><%= image_tag(image.image_path.url(:thumb)) %></a>
          <% if photographer_signed_in? && current_photographer.id == @gallery.photographer_id %>
            <%= link_to "Remove Image", image_path(image), method: :delete, data: {confirm: "Are you sure you want to remove this image?"} %> 
          <% end %>
			  </li>
			<% end %> 
		</ul>
	<% end %>
</div>

<% if photographer_signed_in? %>
  <div class="row">
  	<div class="small-10 small-offset-1 medium-8 medium-offset-2 columns">
		  <h3>Add Photos</h3>

		  <%= form_for [@gallery, @image], html: { multipart: true } do |f| %>
		    <% if @errors %>
	        <p><%= @errors %></p>
	      <% end %>
        <div><%= f.label :image_path, "Image" %><br>
        	<!-- #image[image_path] -->
        <%= f.file_field :image_path, multiple: true, name: "image[image_path]" %></div>
        <div><%= f.submit "Upload Image" %></div>
		  <% end %>

		  <% # jquery upload template # %>
			<script id="template-upload" type="text/x-tmpl"><div class="upload">{%=o.name%}<div class="progress"><div class="bar" style="width: 0%"></div></div></div></script>

		</div>
	</div>
<% end %>

<script src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<%= javascript_include_tag "jquery.image-gallery.min" %>  