<nav class="custom-nav">
  <%= link_to image_tag("logo.png", id: "logo"), root_path %>
  <%= link_to "Menu #{fa_icon('bars', class: 'fa-2x')}".html_safe, "#", id: "menu-link" %>
</nav>

<ul id="nav-list" data-visable="hidden">
  <% if photographer_signed_in? %>
    <%= render "layouts/photographer_links" %>
  <% elsif user_signed_in? %>
    <%= render "layouts/user_links" %>
  <% else %>
    <%= render "layouts/default_links" %>
  <% end %>
</ul>

<script>
$(function(){
  $("#menu-link").on("click", function(e){
    e.preventDefault();
    
    if ($("#nav-list").data("visable") === "hidden") {
      $(this).html("Close <i class='fa fa-arrow-right fa-2x'></i> ")
      $("#nav-list").toggle("left").data("visable", "visable");
    } else {
      $(this).html("Menu <i class='fa fa-bars fa-2x'></i> ")
      $("#nav-list").toggle("right").data("visable", "hidden");
    }
  });
});
</script>