<nav class="top-nav-bar">
  <ul class="logo">
    <li><%= link_to "Let <br>Love <br>Glow".html_safe, root_path %></li>
  </ul>
  <ul>
    <% if current_photographer %>
      <%= render "layouts/photographer_links" %>
    <% else %>
      <!-- Left Nav Section -->
      <ul class="left">
        <li><%= link_to "Gallery", "#" %></li>
        <li><%= link_to "Blog", posts_path %></li>
        <li><%= link_to "Meet Leah", "#" %></li>
        <li><%= link_to "Inside Scoop", "#" %></li>
        <li><%= link_to "Client Lounge", "#" %></li>
        <li><%= link_to "Projects", "#" %></li>
        <li><%= link_to "Contact", "#" %></li>
      </ul>
    <% end %>
  </ul>
</nav>