<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Firefly", root_path %></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <% if current_photographer %>
      <%= render "layouts/photographer_links" %>
    <% elsif current_user %>
      <%= render "layouts/user_links" %>
    <% else %>
      <!-- Left Nav Section -->
      <ul class="left">
        <li><%= link_to "Blog", posts_path %></li>
      </ul>

      <!-- Right Nav Section -->
      <ul class="right">         
        <li><%= link_to "Sign In", new_user_session_path %></li>
      </ul>
    <% end %>
  </section>
</nav>