<li><%= link_to "Gallery", portfolio_images_path, id: "gallery-link" %></li>
<li><%= link_to "Blog", posts_path %></li>
<li><%= link_to "Meet Leah", about_path %></li>
<li><%= link_to "Inside Scoop", scoop_path %></li>
<li><%= link_to "Lounge", user_path(current_user) %></li>
<li><%= link_to "Contact", new_contact_path %></li>
<br>
<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>  
